{% load static %}
{% load widget_tweaks %}

<html dir="rtl">

<title>بازیابی رمز عبور</title>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css'  %} ">
</head>

<body>
    <h3 style="text-align:center">بازیابی رمز عبور</h3>
    {% if form.non_field_errors %}
    <div class="errors">
        {% for error in form.non_field_errors %}
        <span> {{error}}</span>
        {% endfor %}
    </div>

    {% endif %}
    <div class="" style="text-align:center;">

        <form method="post">{% csrf_token %}


            <label>ایمیل:</label>
            {{form.email|add_class:"input1"}}<br><br>

            {% if form.email.errors %}
            <div class="errors">
                {% for error in form.email.errors %}
                <span> {{error}}</span>
                {% endfor %}
            </div>

            {% endif %}

            {{form.password|add_class:"input1"}}<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;

            <input type="submit" value=" ارسال لینک بازیابی">

        </form>
    </div>
</body>

</html>