{% load static %}
{% load widget_tweaks %}

<html dir="rtl">

<title>بازیابی رمز عبور</title>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/rtl.css'  %} ">
</head>

<body>
    <h3 style="text-align:center">بازیابی رمز عبور</h3>
    {% if form.non_field_errors %}
    <div class="errors">
        {% for error in form.non_field_errors %}
        <span> {{error}}</span>
        {% endfor %}
    </div>

    {% endif %}
    <div class="" style="text-align:center;">

        <form method="post">{% csrf_token %}

        {% if validlink %}
            <label>گذرواژه:</label>
            {{form.new_password1|add_class:"input1"}}<br><br>

            {% if form.new_password1.errors %}
            <div class="errors">
                {% for error in form.new_password1.errors %}
                <span> {{error}}</span>
                {% endfor %}
            </div>

            {% endif %}

            <label>تایید گذرواژه:</label>
            {{form.new_password2|add_class:"input1"}}<br><br>

            {% if form.new_password2.errors %}
            <div class="errors">
                {% for error in form.new_password2.errors %}
                <span> {{error}}</span>
                {% endfor %}
            </div>

            {% endif %}


            {{form.password|add_class:"input1"}}<br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;

            <input type="submit" value=" تایید">

        
        {% else %}
            <p class="myfont" style="color:red;font-family:vazir;font-weight:bold" >لینک منقضی شده است.برای بازیابی رمز عبور <a href="{% password_reset %">کلیک کنید.</a></p>
        
        {% endif %}
        </form>
    </div>
</body>

</html>