{% load static %}
{% load base_tags %}
{% load gravatar %}


<img src="{% gravatar_url user.email 60 %}" class="img-circle elevation-2" alt="{{user.email}}">
<label>نام کاربری: </label><a href="#"><span dir="rtl">
  {% if user.get_full_name %}
    {{user.get_full_name}}
  {% else %}
    {{user.username}}
  {% endif %}
</span></a>

<div class="tabs">
  <input type="radio" id="tab1" name="tab-control" checked>
  <input type="radio" id="tab2" name="tab-control">
  <input type="radio" id="tab3" name="tab-control">
  <input type="radio" id="tab4" name="tab-control">
  <ul>

    {% if user.is_superuser or user.is_author %}
    <li>

      </label>
      <span>{% link request 'home' 'لیست مقالات' 'fa-list' %}</span>

    </li>

    <li>

      <span>
        {% link request 'article-create' 'افزودن مقالات' 'fa-edit' %}
      </span>
    </li>

    {% endif %}
    <li>

      <span>{% link request 'profile' 'پروفایل' 'fa fa-th' %}</span></label>
    </li>

  </ul>
  <div class="slider">
    <div class="indicator"></div>
  </div>
  <div class="content">
    <section>
      <h2>Features</h2>

    </section>
    <section>
      <h2>Delivery Contents</h2>
      <div class="" style="text-align:center;">
        <form>

          <label>عنوان مقاله:</label><input type="text"><br><br> &nbsp;&nbsp; &nbsp;&nbsp;
          <label>آدرس مقاله:</label>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<input type="text"><br><br>
          <label>محتوای
            مقاله:</label><textarea>محتوای مقاله را در این بخش قرار دهید.</textarea><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>تصویر مقاله:</label><input type="file"><br><br>
          <label>تاریخ انتشار مقاله:</label><input type="datetime"><br><br>
          <label>تاریخ ایجاد مقاله:</label><input type="datetime">&nbsp;&nbsp;&nbsp;&nbsp;<br><br> &nbsp;&nbsp;
          <label>تاریخ بروز رسانی مقاله:</label><input type="datetime"><br><br> &nbsp;&nbsp;
          <label>وضعیت انتشار مقاله:</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"><br><br> &nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="submit" value=" ذخیره">
        </form>
      </div>
    </section>
    <section>
      <h2>Shipping</h2>
      محل قرار گیری پروفایل
    </section>
    <section>
      <h2>Returns</h2>
      محل قرار گیری محتوا
    </section>
  </div>
</div>