<html dir="rtl">

<head>

</head>

<body>
    <div>
        <from style="text-align:center;">
            <p><label>نام:</label><input type="text"></p>
            <p><label> نام خانوادگی:</label><input type="text"></p>
            <p><label>ایمیل:</label><input type="email"></p>
            <p><label>موضوع:</label><input type="text"></p>
            <div><label>توضیحات</label><textarea>دیدگاه خود را در اینجا وارد کنید.</textarea></div><br>
            <div><input type="submit" value="ارسال"></div>
        </from>
    </div>

</body>

</html>