<!Doctype html>
<html>
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/x-tutorial-main-page.css">





    <title>tutorials</title>
</header>

<body>

    <header>
        <h1>آموزش اچ تی ام ال</h1>

    </header>
    <section>
        <nav>
            <ul>
                <li>
                    <a href="#"><img src="images/html.png" width="" height=""></a>
                </li>
                <li>
                    <a href="# "><img src="images/css.png" width="" height=""></a>
                </li>
                <li>
                    <a href="# "><img src="images/java script.png" width="" height=""></a>
                </li>
                <li>
                    <a href="# "><img src="images/jquery.png" width="" height=""></a>
                </li>
                <li>
                    <a href="# "><img src="images/bootstrap.png" width="" height=""></a>
                </li>
                <li>
                    <a href="# "><img src="images/python.png" width="" height=""></a>
                </li>
                <li>
                    <a href="# "><img src="images/django.png" width="" height=""></a>
                </li>
                <li>
                    <a href="# "><img src="images/django restfull api.png" width="" height=""></a>
                </li>
                <li>
                    <a href="# "><img src="images/github.png" width="" height=""></a>
                </li>
                <li>
                    <a href="# "><img src="images/scrum.png" width="" height=""></a>
                </li>
            </ul>
        </nav>

        <article style="text-align:justify ">

            <h1>آموزش اچ تی ام ال</h1>
            <button class="accordion">بخش اول</button>
            <div class="panel">
                <p><a href="#">مقدمه آموزش اچ تی ام ال</a></p>
            </div>
            <button class="accordion">بخش دوم</button>
            <div class="panel">
                <p><a href="#">مقدمه آموزش اچ تی ام ال</a></p>
            </div>
            <button class="accordion">بخش سوم</button>
            <div class="panel">
                <p><a href="#">مقدمه آموزش اچ تی ام ال</a></p>
            </div>
            <button class="accordion">بخش چهارم</button>
            <div class="panel">
                <p><a href="#">مقدمه آموزش اچ تی ام ال</a></p>
            </div>
            <button class="accordion">بخش پنجم</button>
            <div class="panel">
                <p><a href="#">مقدمه آموزش اچ تی ام ال</a></p>
            </div>



        </article>


        <footer>
            <p>این بخش مربوط به پانوشت است.</p>
        </footer>

        <script type="text/javascript" src="js/x-tutorial-main-page.js"></script>
</body>


</html>