<html dir="rtl">

<head>

</head>

<body>
    <div class="" style="text-align:center;">
        <form>

            <label>عنوان مقاله:</label><input type="text"><br><br> &nbsp;&nbsp; &nbsp;&nbsp;
            <label>آدرس مقاله:</label>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<input type="text"><br><br>
            <label>محتوای مقاله:</label><textarea>محتوای مقاله را در این بخش قرار دهید.</textarea><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>تصویر مقاله:</label><input type="file"><br><br>
            <label>تاریخ انتشار مقاله:</label><input type="datetime"><br><br>
            <label>تاریخ ایجاد مقاله:</label><input type="datetime">&nbsp;&nbsp;&nbsp;&nbsp;<br><br> &nbsp;&nbsp;
            <label>تاریخ بروز رسانی مقاله:</label><input type="datetime"><br><br> &nbsp;&nbsp;
            <label>وضعیت انتشار مقاله:</label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"><br><br> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value=" ذخیره">
        </form>
    </div>
</body>

</html>