<html dir="rtl">

<head>

</head>

<body>
    <div class="" style="text-align:center;">
        <form>
            <label>نام کاربری:</label><input type="text"><br><br>
            <label>ایمیل:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="email"><br><br>
            <label>پسورد:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="password"><br><br>
            <label>تایید پسورد:</label><input type="password"><br><br> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value=" ثبت نام">
        </form>
    </div>
</body>

</html>